@use "../../scss/colors";

.images {
    position: relative;
    padding: 5%;
    min-height: min(95vh, calc(100vh - 60px));
    transition: background-color 0.3s ease-in-out;

    .imagesBody {
        position: relative;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-items: center;

        align-items: center;
        column-gap: 10%;
        row-gap: 5rem;
        -webkit-user-select: none;

        -ms-user-select: none;
        user-select: none;
    }

    .imageContainer {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        padding: 0.7rem;
        border-radius: 1rem;

        transition: all 0.2s cubic-bezier(0.7, 0.2, 0.3, 0.8);
        img {
            position: relative;
            max-width: 100%;
            border-radius: 1rem;
        }

        p {
            position: relative;
            text-align: center;
            max-width: 100%;
            word-wrap: break-word;
        }

        &:hover {
            transform: scale(1.15);
        }
    }

    .notFound {
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
    }
}

.dark {
    background-color: colors.$dark--bg;
    color: colors.$dark--text;
    .imageContainer {
        border: 0.3rem solid colors.$dark--text;
    }
}

.light {
    background-color: colors.$light--bg;
    color: colors.$light--text;
    .imageContainer {
        border: 0.3rem solid colors.$light--text;
    }
}
