$dark--nav-item-bg: #1d4e89;
$dark--nav-bg: #0f2a4b;
$dark--nav-yellow: #ffe554;
$dark--text: #fffb00;
$dark--nav-border: #0060d4;
$dark--bg: #254975;

$light--nav-item-bg: #4c93e9;
$light--nav-bg: #2d82e9;
$light--nav-yellow: #f6ff00;
$light--text: #2c3f52;
$light--nav-border: #2c3f52;
$light--bg: #e6f7ff;
